/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/
.featured-products .slick-arrow:before{
	margin-right: 4px!important;
}
.display_none{display:none;}
.firefox .bx-wrapper .bx-loading{
    display: none;
}
.firefox .fl-builder-content .bx-wrapper .bx-viewport .fl-content-slider-wrapper .fl-slide{
    visibility: visible;
}
.gform_wrapper li.hidden_label input {
    margin-top: 0px!important;
}
.FloorteProductSlider .featured-products .slick-arrow {
    display: flex!important;
    align-items: center;
    justify-content: center;
    padding: 4px!important;
	    z-index: 10!important;
}
.full-width-img .fl-photo-content,
.full-width-img .fl-photo-content img.fl-photo-img {
    width: 100%;
}
.fl-page-bar .fl-page-bar-text .phone span:before{
	content: "\f095";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    vertical-align: middle;
    margin-right: 5px!important;
}
#gredientColor>.fl-row-content-wrap {
    background: rgba(251, 254, 249, 1);
    background: -moz-linear-gradient(top, rgba(251, 254, 249, 1) 0%, rgba(251, 254, 249, 1) 80%, rgba(255, 255, 255, 1) 80%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(251, 254, 249, 1)), color-stop(80%, rgba(251, 254, 249, 1)), color-stop(80%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(255, 255, 255, 1)));
    background: -webkit-linear-gradient(top, rgba(251, 254, 249, 1) 0%, rgba(251, 254, 249, 1) 80%, rgba(255, 255, 255, 1) 80%, rgba(255, 255, 255, 1) 100%);
    background: -o-linear-gradient(top, rgba(251, 254, 249, 1) 0%, rgba(251, 254, 249, 1) 80%, rgba(255, 255, 255, 1) 80%, rgba(255, 255, 255, 1) 100%);
    background: -ms-linear-gradient(top, rgba(251, 254, 249, 1) 0%, rgba(251, 254, 249, 1) 80%, rgba(255, 255, 255, 1) 80%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(to bottom, rgba(251, 254, 249, 1) 0%, rgba(251, 254, 249, 1) 80%, rgba(255, 255, 255, 1) 80%, rgba(255, 255, 255, 1) 100%);
}

.sliderCaption-center .fl-slide-content-wrap {
    margin-left: auto;
    margin-right: auto;
    float: none;
}

.sliderDotsOverlap .bx-pager.bx-default-pager {
    bottom: 25px;
}

.sliderDotsOverlap .bx-wrapper .bx-pager.bx-default-pager a {
    background: #ffffff;
    border: 1px solid #ffffff;
}

.sliderDotsOverlap .bx-wrapper .bx-pager.bx-default-pager a.active {
    background: transparent;
}

.sliderDotsOverlap.fl-module-content-slider .bx-wrapper {
    margin: 0;
}

.fl-photo-caption-below a {
    color: #fff;
}

.captionShow .fl-photo-caption-below {
    bottom: 30px;
    position: absolute;
    left: 40px;
    right: 60px;
    text-align: left;
    z-index: 1;
    color: #fff;
    padding: 10px 0;
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.captionShow .fl-photo-caption-below>a:after {
    content: "\f054";
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    font-family: FontAwesome !important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1px;
    margin: 9px 0 0;
    font-weight: 400;
    float: right;
}

.navbar .nav .menu-item-has-children>a:after {
    content: "\f078";
    font-family: FontAwesome !important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    vertical-align: top;
    margin: 2px 0 0 10px;
    font-weight: 400;
}

.navbar .nav .sub-menu .menu-item-has-children>a:after {
    content: "\f054";
    position: absolute;
    right: 15px;
    top: 50%;
    margin: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

.landing_header_description .fl-module-content {
    max-width: 570px;
}

.product-grid .fl-post-grid-post {
    text-align: center;
}

.product-grid .fl-post-grid-post h2.fl-post-grid-title {
    font-size: 20px;
}


/* MegaMenu Comman css  */

.fl-page-nav .navbar-nav .mega-menu .fl-heading,
.fl-page-nav .navbar-nav .mega-menu .fl-heading a {
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    font-size: 24px;
}

.mega-menu .fl-tabs-vertical .fl-tabs-labels {
    width: 15%;
}

.mega-menu .fl-tabs-vertical .fl-tabs-panels {
    width: 85%;
}

ul.navbar-nav li.mega-menu,
ul.navbar-nav li.mega-menu>ul.sub-menu {
    padding: 0;
}

ul.navbar-nav li.mega-menu .fl-tabs-panel-content {
    background: #ffffff;
}

ul.navbar-nav li.mega-menu .fl-tabs-labels .fl-tabs-label.fl-tab-active {
    font-weight: bold;
}

ul.navbar-nav li.mega-menu .fl-tabs-labels .fl-tabs-label.fl-tab-active:after {
    content: "\f105";
    font-size: 30px;
    color: #fff;
    width: auto;
    right: auto;
    position: static;
    margin-left: 10px;
    vertical-align: bottom;
    font-family: FontAwesome !important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

ul.navbar-nav li.mega-menu .fl-tabs-panel-content>p {
    display: none;
}


/* FullWidthLinks */

.linkFullWidth,
.linkFullWidth * {
    height: 100%;
    margin: 0 !important;
}

.linkFullWidth a .fl-heading-text {
    display: flex;
    align-items: center;
    justify-content: center;
}


/*  sticky nav */

.fl-page-nav-right.fl-page-header-fixed .fl-page-nav-wrap .navbar-nav>li>a,
.fl-page-header-fixed .fl-page-nav-wrap .navbar-nav>li>a {
    padding: 10px 22px;
}

.fl-page .fl-content-full.container {
    margin: 0;
    padding: 0;
    width: auto;
    max-width: none;
}

.fl-page {
    width: auto!important;
}

.footermenu .menu-item a {
    color: #FBFBFB;
    font-family: Roboto;
    font-size: 12px;
    line-height: 23px;
}

.home-tab .fl-tabs-labels {
    background-color: #384E77;
}

.fl-page-bar .fl-page-bar-text a {
    color: #ffffff;
    font-size: 15px;
    position: relative;
}

.fl-page-bar .fl-page-bar-text a:before {
    left: -20px;
    position: absolute;
}

#menu-main-menu-1 {
    max-height: 40px;
}

.fl-page-nav-centered-inline-logo .fl-page-nav ul.navbar-nav>li.fl-logo-centered-inline {
    margin-top: -65px;
    z-index: 99;
}

.fl-page-nav-right.fl-page-header-fixed .fl-logo-img,
.fl-page-header-fixed .fl-logo-img {
    max-height: 75px !important;
}


/* .fl-page-header-fixed{
	padding-top:35px;
} */

.fl-post-grid-gallery {
    height: 300px;
}

.fl-page-bar a,
.fl-page-bar a *,
.fl-page-bar a.fas,
.fl-page-bar a.fab {
    color: #fff;
}

.storename {
    padding: 0px;
    margin-bottom: 0px;
}

.store-opening-hrs {
    padding-left: 0px;
}

.color-box {
    text-align: center;
}

.storename .direction a {
    width: 100%;
    display: block;
}

.storename li {
    list-style-type: none!important;
}

.fl-page-bar a*:hover {
    color: #fbfbfb!important;
    text-decoration: none;
}

.fl-page-nav .navbar-nav li>a {
    padding: 15px 20px;
}

.fl-page-bar .fl-page-bar-text a:hover {
    text-decoration: none;
}

.product-box h1.fl-post-title {
    font-size: 22px;
}

.fl-row-content-wrap .product-box a {
    margin: 0px auto!important;
}

.social-icons-wrap ul.social-icons {
    text-align: center;
}

.gform_wrapper ul.gform_fields li.gfield .gfield_time_ampm select {
    max-width: none!important;
    width: 65px;
}

#field_8_2 {
    padding-right: 0px!important;
}

.gform_wrapper.gf_browser_chrome .gfield_checkbox li input,
.gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox] {
    margin-top: 0px!important;
}

.fa.fa-star-half-o {
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
}

.fa-star-half-o:before {
    content: '\f089'!important;
}

.gform_wrapper .gfield_time_hour i {
    margin-top: -1px!important;
}

.facetwp-per-page select.facetwp-per-page-select {
    width: 100px;
}

.mejs-overlay-play .mejs-overlay-button {
    position: absolute;
    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
}
.fl-page-bar .fl-page-bar-text-1 > span{
	margin-left: 20px!important;
    position: relative!important;
    top: -10px!important;
}
@media(max-width:1080px) {
    .fl-page-nav .navbar-nav li>a {
        padding: 15px 8px;
    }
    .fl-page-nav-right.fl-page-header-fixed .fl-page-nav-wrap .navbar-nav>li>a,
    .fl-page-header-fixed .fl-page-nav-wrap .navbar-nav>li>a {
        padding: 10px 12px;
    }
}

@media(max-width:992px) {
    .fl-page-header-logo a .fl-logo-img {
        width: 40%!important;
    }
    #responsive-menu-container #responsive-menu ul.responsive-menu-submenu li.responsive-menu-item .responsive-menu-item-link {
        text-transform: uppercase;
    }
    .fl-page-bar-row .text-left{
        display: none;
    }

    .fl-page-bar .fl-page-bar-row .text-right {
        float: none;
        width: 100%;
        text-align: center;
        padding: 0px;
    }
    #responsive-menu-additional-content a{
        color: #fff;
    }
    #responsive-menu-additional-content .phone:before{
        content: "\f095";
        font-family: FontAwesome !important;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
        vertical-align: center;
        margin: 2px 5px 0 0px;
        font-weight: 400;
    }
    #responsive-menu-additional-content .address a{
         padding: 0 0 0 17px;
         display: block;
         position: relative;
    }
    #responsive-menu-additional-content .address a:before{ 
         content: "\f041";
        font-family: FontAwesome !important;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
        vertical-align: center;
        margin: 2px 5px 0 0px;
        font-weight: 400;
        position: absolute;
        left: 0px;
        top: 5px;
    }
}

@media(max-width:768px) {
    .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content{
        padding: 0px;
    }
    .fl-page-header-logo a .fl-logo-img {
        width: 35%!important;
    }
    .social-icons-wrap ul.social-icons {
        text-align: left;
    }
    /*.fl-page-bar .fl-page-bar-row .text-left {
        float: left;
    }*/
    /* .fl-col-small{
        max-width: 600px!important;
    } */
    .fl-col-small {
        max-width: 100% !important;
    }
    button#responsive-menu-button{
        top: 77px!important;
    }
    .fl-content-slider-navigation svg{
        background: #000;
    }
}

@media(max-width:540px) {
    #menu-top-bar-menu li:last-child{
        display: none;
    }
    .fl-page-bar-nav>li>a{
        padding: 2px 5px;
    }
    .fl-page-header-logo a .fl-logo-img {
        width: 60%!important;
    }
    #gform_submit_button_2 {
        width: auto;
    }
}

@media(max-width:500px) {
    footer .fl-builder-content .footer-resp-width {
        width: 100%!important;
    }
}